/* $Id: panels-styles.css,v 1.1.2.1 2009/12/12 15:31:54 johnalbin Exp $ */

/**
 * @file
 * Panels Styling
 */


.pane-content {
   border-image: url(../images/box1.png) 30/15px stretch stretch;
   -moz-border-image: url(../images/box1.png) 30/15px stretch stretch;
   -webkit-border-image: url(../images/box1.png) 30/15px stretch stretch;
 }
 
.pane-content:nth-child(even) {
   border-image: url(../images/box2.png) 30/15px stretch stretch;
   -moz-border-image: url(../images/box2.png) 30/15px stretch stretch;
   -webkit-border-image: url(../images/box2.png) 30/15px stretch stretch;
 }